<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= root_url %>>Killer Blog</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_url %></li>
        <li><%= link_to 'Blogs', posts_path %>
        <li class="active"><%= link_to 'Events', events_path %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <h2>
    <strong>
      <%= @event.title %>
    </strong>
  </h2> 
  <h6>
    <%= link_to 'Edit', edit_event_path(@event) %>
  </h6>

<p>
  <i><%= @event.author %> added <%= @event.created_at.strftime('%b %d, %Y at %H:%M') %></i>
</p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <%= @event.body %>
</p>
<div id="paintings">
    <div class="painting">
      <% unless @event.image==nil %>
      <%= image_tag @event.image.data_url.to_s %>
      <% end %>
    </div>
</div>
</div>
</div>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<p id="notice" class="bg-info h3"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<% unless @event.comments.empty? %>
  <h2><%= pluralize(@event.comments.size, 'comment') %></h2>

  <div id="comments">
  <% for comment in @event.comments %>
    <div class="comment">
      <strong><%= h(comment.author) %></strong>
      <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
      <%=simple_format comment.body %>
    </div>
  <% end %>
  </div>
<% end %>
</div>
</div>

<h3>Add your comment:</h3>
<%= render :partial => 'comments/form' %>
</div>