<%= form_for @post, :html => {:multipart => true} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <p>
  <%=f.fields_for :image do |attachment_f|%>
    <%= attachment_f.file_field :data %>
  <%end%>
  </p>
  <!--
 <div class="form-group">
      <label class="col-xs-1 control-label">Tags</label>
        <div class="col-xs-11">
            <input class="form-control" name="post[tag_ids]" id="post_tag_ids"
                   multiple data-placeholder="Choose tags" />
        </div>
    </div>
-->
      <% if @tags %>
      <%= f.label "Tags" %>
      <%= select_tag(:tag_ids,
                      options_from_collection_for_select(@tags, :id, :name),
                      multiple: true, 
                      class: 'form-control') %>      <% end %>


  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-lg btn-success" %>
  </div>

<% end %>

<script>
        $(document).ready(function() {
          $("#tag_ids").select2({ tags: true, theme: "bootstrap" })
        });
</script>