<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= root_url %>>Killer Blog</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_url %></li>
        <li class="active"><%= link_to 'Blogs', posts_path %>
        <li><%= link_to 'Events', events_path %>
      </ul>
    </div>
  </div>
</nav>
<div class="container"><h1>New Post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>
</div>