<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= root_url %>>Killer Blog</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Home', root_url %></li>
        <li class="active"><%= link_to 'Blogs', posts_path %>
        <li><%= link_to 'Events', events_path %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <h2>
    <strong>
      <%= @post.title %>
    </strong>
  </h2> 
  <h6>
    <%= link_to 'Edit', edit_post_path(@post) %>
  </h6>
<p>
  <i><%= @post.author %> added <%= @post.created_at.strftime('%b %d, %Y at %H:%M') %></i>
</p>
<div class="panel panel-default">
  <div class="panel-body">
    <p>
     <%= @post.body %>
    </p>
    <% unless @post.image==nil %>
      <%= image_tag @post.image.data_url.to_s %>
    <% end %>
  </div>
</div>

<p id="notice" class="bg-info h3"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<% unless @post.comments.empty? %>
  <h2><%= pluralize(@post.comments.size, 'comment') %></h2>

  <div id="comments">
  <% for comment in @post.comments %>
    <div class="comment">
      <strong><%= h(comment.author) %></strong>
      <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
      <%=simple_format comment.body %>
    </div>
  <% end %>
  </div>
<% end %>
  </div>
</div>

<h3>Add your comment:</h3>
<%= render :partial => 'comments/form' %>
</div>